header {
    height: 100vh;
    padding-top: 3rem;
}

.header__container {
    text-align: center;
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
}

.cta {
    margin-top: 2.5rem;
    display: flex;
    gap: 1.2rem;
    justify-content: center;
}

.header__socials{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.8rem;
    position: absolute;
    left: 0;
    bottom: 3rem;
}

.header__socials img {    
    width: 50px;
    height: 50px;
}

.header__socials::after{
    content: '';
    width: 1px;
    height: 2rem;
    background-color: var(--color-primary);
}

.me_img {
    margin: auto;
    position: inherit;
}

.me_img img {
    width: 100%;
    position: relative;
    z-index: 0;
}

#nav-list-container {
    background-color: white;
    position: absolute;
    margin-top: 2.8rem;
    margin-left: 85px;
    padding: 10px;
    z-index: 99;
    box-shadow: 0px 0px 10px 2px rgb(48, 46, 46);
}

#nav-list-container>h4 {
    color: var(--color-bg-variant);
    border-bottom: 1px solid rgba(157, 119, 69, 0.35);
}

#nav-list li {
    display: inline;
    padding: 5px 10px;
    margin-inline: 10px;
}

#nav-list li a:hover{
    cursor: pointer;
    color: rgba(157, 119, 69, 0.35);
}

.scroll__down {
    position: absolute;
    right: -2.3rem;
    bottom: 5rem;
    transform: rotate(90deg);
    font-weight: 300;
    font-size: 0.9rem;
}

.hide {
    display: none;
}

@media screen and (max-width: 1024px) {
    header {
        height: 68vh;
    }
}



@media screen and (max-width: 600px) {
    header {
        height: 100vh;
    }

    .header__socials, .scroll__down {
        display: none;
    }
}