.experience__container {
  display: flex;
  gap: 2rem;
  background: var(--color-bg-variant);
  padding: 5rem;
  border-radius: 2rem;
  border: 4px solid transparent;
  transition: var(--transition);
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
}

.experience__container:hover {
  background-color: transparent;
  border-color: var(--color-primary-variant);
  cursor: pointer;
}

#experience-list {
  display: grid;
  grid-template-columns: repeat(4, 1rem);
  grid-template-rows: repeat(2, 1rem);
  column-gap: 15rem;
  row-gap: 8rem;
}

.experience-li {
  text-align: center;
  margin-bottom: 2rem;
  color: var(--color-primary);
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: center;
}

.experience-li .li-icon {
  width: 50px;
  height: 50px;
}

.experience-li .icon-title {
  white-space: nowrap;
  font-weight: 700;
  margin-block: 5px;
  font-size: 1rem;
}

@media screen and (max-width: 1024px) {
  .experience__container {
    grid-template-columns: 1fr;
  }

  .experience__container > div {
    width: 88%;
    padding: 2rem;
    margin: 0 auto;
  }

  .experience__content {
    padding: 1rem;
  }

  #experience-list {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
  }
}

@media screen and (max-width: 600px) {
  .experience__container {
    gap: 1rem;
  }

  .experience__container > div {
    width: 100%;
    padding: 2rem 1rem;
  }

  #experience-list {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
  }
}
